/* we select on the basis of tag/ Element Selector - h1 , h2, ul, p */
/*
h1{
    background-color: aquamarine;
}

ul{
    background-color: beige;
}

h2{
    background-color: bisque;
}  
    */

    /* ID based selection (# based selection  */
  /*  #first{
        background-color: blueviolet;
    }

    #second{
        background-color: coral;
    } */

    /* Class Based Selection */
    /*
    .third{
        background-color: rgb(31, 137, 230);
    }

    .fourth{
        background-color: rgb(68, 196, 153);
    }
        */

   /* Group based selection */
    /*    h1, .fourth, #first{
            background-color: rgba(75, 54, 24, 0.74);
        }
            */
/*
        h2{
            background-color: hsla(110, 49%, 78%, .56);
        }
*/
/*
h1{
    background-color: #b98c59;
}
*/

/* FONT */
/*
h1{
    font-size: 50px;
} 

li{
    font-size: 1em;
}
h2{
    font-size: 2rem;
}

html{
    font-size: 40px;
}
h1{
    font-size: 2rem;
} */

h2{
    /* font-size: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 60 ;
    font-style: italic; */
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}
/* li{
     font-size: 3vw; 
    font-size:80% ;
}  */
      