#rectangle{
    height: 200px;
    width: 300px;
    background-color: yellow;
    position: relative;
}

#rect1, #rect3 {
    height: 80px;
    width: 80px;
    background-color: rgb(32, 32, 192);
}

#rect3{
    position: absolute;
    bottom: 0px;
}

#rect2, #rect4{
    height: 80px;
    width: 170px;
    background-color: rgb(32, 32, 192);
    position: absolute;

}
#rect2{
    top: 0px;
    right: 0px;
}

#rect4{
    bottom: 0px;
    right: 0px;
}