/* *{
  margin:0px ;  
  padding: 0px;
} */
h1{
    background-color: aquamarine;
}

h2{
    background-color: rgb(110, 218, 218);
    position: relative;
    left: 100px;
}
h3{
    background-color: rgb(214, 122, 122);
    /* position: fixed; */
    top: 0px;
    left: 100px;
}
h4{
    background-color: blanchedalmond;
    position: sticky;
    top: 0px;
}

p{
    background-color: brown;
    position: absolute;
    top: 0px;
    left: 70px;
    margin: 0px;
    z-index: 10;
}