*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    perspective: 800px;
    
}

.box{
    height: 150px;
    width: 150px;
    background-color: orange;
    cursor: pointer;
    border-radius: 25% ;
    /* transform: translateY(-300px); */
    /* transform: translate(200px, 300px); */
    /* transform: rotate(30deg); */
    /* transform: skewX(-60deg); */
    /* transition-property: background-color; */
    /* transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-in;
    transition-delay: 2s; 
    /* transition: all 3s ease-in 2s; */
    /* transition: all 3s; */
    font-size: 50px;
    color: blue;
    animation-name: boxy;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes boxy {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(270deg);
    }
    
}

/* .box:hover{
    /* background-color: pink;
    width: 300px; */
    /* transform: scaleX(2); */
    /* transform: translate(100px, 200px); */
    /* transform: translateZ(200px); */
    /* transform: rotate(40deg);
} */ 