*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.container{
    background-color: rgb(236, 169, 169);
    border: 2px solid rgb(206, 78, 78);
    font-size: 40px;
    padding: 10px;
    color: blue;
    width: 70%;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
}

p{
    animation-name: moving;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes moving {
    from{
        margin-left: 100%;
    }
    to{
        margin-left: -100%;
    }
}
    