*{
    height: 0;
    width: 0;
    box-sizing: border-box;
    background-color: black;
}

.contanier{
    padding:20px;

}

.box{
    height: 100px;
    width: 150px;
    background-color: rgb(233, 10, 10);
    animation-name: moving;
    animation-duration: 5s;
    /* animation-iteration-count: 1; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-direction: alternate; */
    animation-delay: 2s;
    /* animation-fill-mode:backwards; */
    position: absolute;
  
}

@keyframes moving {
    /* from{
        background-color: orange;
        top: 10px;
        left: 10px;
    }
    to{
        background-color: blue;
        top: 10px;
        left: 600px;
    } */

    0%{
        background-color: orange;
        top: 10px;
        left: 10px;
    }
    25%{
        background-color: blue;
        top: 10px;
        left: 1000px;
    }
    50%{
        background-color: green;
        top: 500px;
        left: 1000px;
    }
     75%{
        background-color: brown;
        top: 500px;
        left: 10px;
    }
    100%{
        background-color: aquamarine;
        top: 10px;
        left: 10px;
    }
}