*{
    padding: 0px;
     margin: 0;
    box-sizing: border-box;
} 

body{
    background-color: black;
}

.Chess{
    height: 800px;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.brown{
    background-color: brown;
}

.white{
    background-color: white;
}