*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-size: 25px;
}

.Boxy{
    display: grid;
    height: 600px;
    width: 600px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
}
body{
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(6, 1fr);
}

.box{
    background-color: pink;
}

/* .first{
    grid-column: 1/3;
    grid-row: 1/2;
}

.second{
    grid-row: 2/4;
    grid-column: 1/2;
}
.third{
    grid-row: 4/6;
    grid-column: 1/2;
}

.five{
    grid-row: 3/5;
    grid-column: 2/3;
}
.six{
    grid-column: 2/4;
    grid-row: 5/6;
}

/* .seven{
    /* grid-column: 2/4;
    grid-row: 1/2; 
}
.eigth{
    grid-row: 2/4;
    grid-column: 3/4;
} */
