*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-size: 25px;
}

.Table{
    display: grid;
    height: 600px;
    width: 600px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr repeat(2, 2fr) 1fr ;
    gap: 10px;
    padding: 10px;
}
.Box{
    background-color: rgb(128, 128, 206);
}

.header{
    grid-column-start:  1;
    grid-column-end: 4;
}
.sidebar{
    grid-row-start: 2;
    grid-row-end:4 ;
}

.content1{
    grid-column-start: 2;
    grid-column-end: 4;
}

.footer{
    grid-column-start: 1;
    grid-column-end: 4;
}