.container{
    height: 200px;
    width: 200px;
    background-color: rgb(235, 85, 26);
    /* box-shadow: 10px 8px rgb(156, 111, 201); */
    /* box-shadow: 0px 0px 0px 20px blue; */
    /* box-shadow: inset 10px 10px blue; */

     /* Sun */
    /* background-color: rgb(235, 208, 91);
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px  red ; */

    overflow:scroll ;
}
/* offset-x , offset-y , blur -radius,  spread-radius */