h1{
    background-color: blanchedalmond;
    height:30px;
    width:300px;
/* 
    border-width: 5px;
    border-style: dotted;
    border-color: brown; */

    /* border: 10px solid rgb(199, 187, 20) ;
    padding: 10px; */

    border-top: 10px solid black ;
    /* padding-top: 4px;
    padding-left:10px;
    padding: 10px 20px 30px 40px ;  */
    padding: 20px 40px; // top nd bottom -20px & right nd left-40px 

    /* margin-top: 50px;  */
    margin: 10px 20px 30px 40px;
    
    border-radius: 50px ;
}

h2{
    background-color: palevioletred;
    border: 8px dotted teal;
}
p{
    background-color: rgb(194, 187, 179);
    padding: 5px;
    border: 4px solid blueviolet;
}